<div>
  <div class="page">
    <h1>Future</h1>
    <h2 class="wwwh">Neccesity is the great grandmother of invention</h2>
    <h3>Multi Page Application</h3>
    <p>
      A multi page application mixes both backend and frontend code together and has many pages which fully reload as the user
      navigates through the application. An MPA is constantly reloading everything from the server on almost every user interaction,
      resulting in a poor user experience due to the constant full page reloads and due to the network back and forth trips
      to the server to fetch all the HTML.
    </p>
    <h4>Historical software development</h4>
    <p>
      Since the early years of IT automation, the focus of businesses has been on building large, monolithic software packages
      that covered a wide spectrum of business processes. Major enterprise applications introduced only one major version
      upgrade and three to four updates per year. A version upgrade would also be an event in itself with companies allocating
      separate budgets and timelines for upgrades.
    </p>
    <p>
      The monolithic applications, in the present-day context, are akin to heavyweights who find it difficult to move swiftly.
      It is time-consuming and expensive to make changes to the existing codes of these applications. Code changes are also
      ridden with risks with an enterprise-wide impact. A slight error in code can have an adverse effect on an organisation’s
      business operations.
    </p>
    <p>
      Over the past few years, high growth in internet-driven businesses and pervasive adoption of enterprise mobility have changed
      the picture. The speed of change has become the defining factor behind success or failure across industries. Companies
      have to upgrade and update their applications more frequently than before. Organisations like Amazon, Facebook, and
      Google issue releases several times a day! Developers face tremendous pressure to ship their software faster than ever
      before.
    </p>
  </div>
</div>
