<div>
  <div class="page">
    <h1>Future</h1>
    <h2 class="wwwh">Neccesity is the great grandmother of
      <span class="strikeThrough">invention</span> reinvention</h2>
    <h3>Reinvent</h3>
    <p>
      The MoneySupermarket Group has invested a lot of resources in reinventing the structure of the teams...
    </p>
    <h4>PDD</h4>
    <p>
      Prototype driven development, before embarking on a major development project it's far more cost efficient to create a prototype.
      With the amazing tools that are now available for frontend development prototyping is easier and speedier than ever.
      There's a wealth of features within the browser that the current codebase hasn't even considered.
    </p>
    <p>
      Where is the R &amp; D department in the MoneySupermarket Group? Reinvention needs space and relatively small investment.
      Prototypes can be built, tested, discarded, discarded again and pounced upon.
    </p>
    <p>I wonder if the competition is ignoring the future?</p>
  </div>
</div>
