<div class="page">
  <h1>What</h1>
  <h2 class="wwwh">What is a SPA?</h2>
  <h3>Single page application</h3>
  <p>
    A single page application has only one page which does not fully reload, only new data gets sent over the wire as the user
    navigates through the application. After the initial page load, no more HTML gets sent over the network. Instead, only
    data gets requested from the server (or sent to the server), which takes a lot less time and bandwidth than constantly
    sending HTML.
  </p>
  <h4>A new approach</h4>
  <p>
    With speed becoming a critical parameter, developers and software architects have been exploring a new approach to application
    architecture: decoupling the frontend from the backend. This approach involves decoupling of the application’s backend
    and frontend components but connecting them with the help of APIs. As these two parts are loosely connected, their development
    can be carried out independent of each other.
  </p>
  <h4>Speeeeeedy development and testing</h4>
  <p>
    As the biggest advantage, a decoupled architecture allows the frontend and backend developers to work independently. Since
    development is carried out in parallel, it reduces the overall project time. Business teams usually take keen interest
    in the progress of the UI/UX part of the project resulting in faster frontend rollout. This helps the backend developers
    with creation of data structures suitable for the frontend. Decoupled architecture allows the project teams to test their
    builds independently and in parallel, further optimising the project duration.
  </p>
  <h4>Agility</h4>
  <p>
    As another benefit, the UI team can make suitable changes to the frontend designs without worrying about dependencies and/or
    making corresponding changes to the backend.
  </p>
</div>
