<div class="page">
  <h1>Why?</h1>
  <h2 class="wwwh">Why build an application as a SPA?</h2>
  <h3>The advantages of SPAs</h3>
  <h4>The production and deployment advantages of SPAs</h4>
  <p>
    A single page application is simple to deploy if compared to more traditional server-side rendered applications, it's really
    just one index.html file, with a couple of Javascript and CSS bundles that can be uploaded to any static
    content server like Apache, Nginx, Amazon S3 or Firebase Hosting.
  </p>
  <h4>SPA versioning in production</h4>
  <p>
    Another advantage of deploying our frontend as a single page application is versioning and rollback. All we have to do is
    to version our build output (that produces the CSS and JS bundles). We can configure the server that is serving our SPA
    with a parameter that specifies which version of the frontend application to build. This type of deployment scales very
    well with static content servers like Nginx which can scale for a very large number of users.
  </p>
  <h4>Less work in the backend</h4>
  <p>
    Multiple Page Applications don’t allow you to use the same backend for mobile and web application, this means double the
    work in the backend. Whereas with a Single Page Application, you only have one RESTful API that both mobile and web can
    consume.
  </p>
  <h4>Better user experience</h4>
  <p>
    SPAs create a snappier user experience as pages don't have to be reloaded every time. New features can be developed much
    more quickly with SPAs as it takes less time for developers to develop them, testers to test them and dev ops to deploy
    them, contributing to a fresher user experience. Existing features can be speedily modified in the frontend, quite often
    with no work in the backend.
  </p>
</div>
