<div class="page">
    <h1>SPA versus MPA</h1>
    <h2 class="wwwh">what, why, who, how, history?</h2>
    <h3>History</h3>
    <p>
      Since the early years of IT automation, the focus of businesses has been on building large, monolithic software packages
      that covered a wide spectrum of business processes. Major enterprise applications introduced only one major version upgrade
      and three to four updates per year. A version upgrade would also be an event in itself with companies allocating separate
      budgets and timelines for upgrades.
    </p>
    </div>
