<div class="relative page">
  <h1>More why</h1>
  <h2 class="wwwh">why++</h2>
  <h3>Taking advantage</h3>
  <div class="scrollBox">
    <p>
      MPAs use include files that have their own markup, this markup (or language) interferes with the structure of HTML making
      it more difficult for developers to see problems within the code.
    </p>
    <p>
      SPAs have been designed to be used with frontend tools from their initial conception, the code complements the existing HTML
      and does not cause visual markup errors.
    </p>
    <h4>Vertical architectures</h4>
    <p>
      SPAs can easily be configured to have vertical architectures, for example all the files needed for a partucular feature can
      be grouped together in a folder of the same name. This makes it easier for developers to work on a particular feature.
      MPAs have unintuitive architectures with files for a particular feature in many different locations.
    </p>
    <h4>Still why does this matter to me?</h4>
    <p>
      When the code is organised in a way that is easier for developers to use, not only does it promote wellbeing within the development
      teams, it also increases productivity and leads to more consistent quality and faster feature delivery. This gives
      the company an edge in today's saturated market, which is great for end users as they get a better user experience
      and brilliant for shareholders, management and everyone else within the organisation.
    </p>
  </div>
</div>
