.snail {
  position: absolute;
  top: 16px;
  z-index: 1;
}
.afterSnail {
  margin-left: 60px;
}

.washing {
  position: absolute;
  top: -45px;
  z-index: 1;
}
.afterWashing {
  margin-left: 75px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .snail {
    top: -18px;
  }
  .afterSnail {
    margin-left: 60px;
  }
}

