<div class="page">
  <h1>SPA versus MPA</h1>
  <h2 class="wwwh">what, future?, why, who, how, history?</h2>
  <h3>What's the point?</h3>
  <div class="scrollBox">
    <p>
      What's the point of keeping up with technology? Why bother reinventing codebases when the end user doesn't give a hoot about
      the code, neither do share holders, management, product owners, content editors or anyone else other than the monkeys
      who have to work within that environment.
    </p>
    <h4>Imagine</h4>
    <p class="relativeP">
      Imagine you need to deliver promotional messages to over 3 million users and you have to use
      <img src="/assets/snail.jpg" alt="snail" class="snail">
      <span class="afterSnail">mail</span>?
    </p>
    <p>How about putting shelves up using a nail file instead of an electric drill, or using a typewriter instead of a word
      processor to write articles?</p>
    <h4>Reinventing</h4>
    <p class="relativeP">
      Take the humble
      <img src="/assets/washing.jpg" alt="washing machine" class="washing">
      <span class="afterWashing">for example</span> Prior to mechanical washing machines we had human ones. The mechanical
      washing machine enabled women to enter the labour market which changed their bargaining positions within the household
      and in wider society, giving women votes and endless changes. It has transformed the way we live.
    </p>
    <h4>HTML 5</h4>
    <p>
      HTML 5 was first released over ten years ago, it has taken time for browsers and the people who use them to catch up with
      it, now it is reinventing personal computing. With HTML 5 not only can new tags be created but it also has it's own
      storage, caching and database and offers tools such as web workers so that we can access these new features.
    </p>
  </div>
</div>
