<div class="page">
  <h1>Why not?</h1>
  <h2 class="wwwh">Why not build an application as a SPA?</h2>
  <h3>The disadvantages of SPAs</h3>
  <p>
    The two main disadvantages of SPAs <span class="underline">used to be</span> the initial page load and SEO.
  </p>
  <h4>Initial page load</h4>
  <p>
    Typically a SPA would load all the things it needs to run the application when the user first lands on the website. Nowadays
    with SPAs becoming much more established the propriotors have come up with solutions to this problem. In Angular it is
    very easy to lazy load items so that you are not downloading everything at once, thus drastically reducing the wait time
    for the user.
  </p>
  <p>
    Service workers and web workers can be employed to make full use of the browser cache, files can be minimised and tree shaking
    methods can be used in building the production code reducing the kbs to a speedy response.
  </p>
  <h4>The hefty CEC website</h4>
  <p>At the time of writing the current CEC home page weighs in at a whopping 760odd KB!
  </p>
  <ul>
    <li>Home page - over 760kb</li>
    <li>Login page - over 620kb</li>
    <li>Results page - over 220kb</li>
    <li>Welcome back page - over 270kb</li>
  </ul>
  <h4>SEO</h4>
  <p>
    In the early days of the web, Googlebot (Google's search engine crawler) would only crawl the static HTML provided in a page.
    It was announced in 2014, however, that Googlebot would now attempt to render JavaScript before it began crawling. To
    help debug any issues with rendering a JavaScript-modified page, Google provided webmasters with the Fetch As Google tool,
    which shows a snapshot of what Googlebot sees at a particular URL.
  </p>
  <p>
    There are a number of solutions to optimise a SPAs SEOness, these include pre-rendering and server side rendering. Pre-rendering
    is where you run the app with a headless browser in your development environment, snapshot the page output, and substitute
    your HTML files with this snapshot in the server’s response. Server-side rendering (SSR) is where a page is rendered
    by the web server as part of the server request/response cycle.
  </p>
  <h4>Money Saving Expert</h4>
  <p>
    MSM and CEC already have a fantastic SEO tool in the form of the MSE website. Currently it makes sense to have the MSE website
    as an MPA as it has many, many pages that would require a lot of work to convert. The price comparison
    websites do not need to be MPAs as they have so few pages, in CEC there is a landing page, a registration page, a results
    page, an edit page and a thank you page a total of five pages.
  </p>
</div>
