<div class="relative">
    <div class="hand" routerLink="/what" routerLinkActive="active">
      <i class="fas fa-hand-point-right"></i>
    </div>
    <h1>Why not?</h1>
    <h4 class="wwwh">Why not build an application as a SPA?</h4>
    <h2>The disadvantages of SPAs</h2>
    <p>
      A single page application is simple to deploy if compared to more traditional server-side rendered applications, it's really
      just one index.html file, with a CSS bundle and a Javascript bundle. These 3 static files can be uploaded to any static
      content server like Apache, Nginx, Amazon S3 or Firebase Hosting.
    </p>
    <h3>The backend data</h3>
    <p>
      The application will need to make calls to the backend to get its data, but that is a separate server that can be built with
      a different technology like Java, Scala, PHP or Node.
    </p>
    <h3>SPA versioning in production</h3>
    <p>
      Another advantage of deploying our frontend as a single page application is versioning and rollback. All we have to do is
      to version our build output (that produces the CSS and JS bundles). We can configure the server that is serving our SPA
      with a parameter that specifies which version of the frontend application to build, it's as simple as that!
    </p>
    <p>
      This type of deployment scales very well, static content servers like Nginx can scale for a very large number of users.
    </p>
    <p>
      This type of deployment and versioning is only valid for the frontend part of our application and does not apply to the backend
      server. But as frontend changes more rapidly than backend, it's an important advantage to have.
    </p>
  </div>
